# Archivos y directorios a ignorar en el build de Docker
target/
!target/*.jar
*.log
.mvn/wrapper/maven-wrapper.jar
.git
.gitignore
README.md
HELP.md
.dockerignore
Dockerfile
docker-compose.yml
.idea
.vscode
*.iml
.settings
.project
.classpath
.DS_Store
Thumbs.db
